<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DP Project</title>
    <style>
    body {
     background-image: url('https://image.freepik.com/free-photo/two-umbrellas-cloud-sky-blue-background_136498-123.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
            }
</style>
</head>
<body>

    <h1 align="center" style="font-family:'Courier New'">XYZ Organisation</h1>
    <h2 align="center" style="font-family:'Courier New'">This is our website for Final Project of Data Programming.</h2>
    <h2 align="center" style="font-family:'Courier New'"> Team 10</h2>
    <h3 align="center" style="font-family:'Courier New';"> Adil Feroz <br> Amrit Kaur <br> Abhishek Joshi</h3>
    <br>
    <p style="text-align:center;font-family:'Courier New';font-size:160%;"><a href="https://dpfinalproject.azurewebsites.net/charts/" class="button large hpbottom">Google Charts</a></p>
    <br>
    <p style="text-align:center;font-family:'Courier New';font-size:160%;"><a href="https://dpfinalproject.azurewebsites.net/API/" class="button large hpbottom">API: Get by all</a></p>
    <br>
    <p style="text-align:center;font-family:'Courier New';font-size:160%;"><a href="https://dpfinalproject.azurewebsites.net/getone/4/" class="button large hpbottom">API: Get by ID</a></p>
    <br>
    <p style="text-align:center;font-family:'Courier New';color:black;font-size:160%;"><a href="https://dpfinalproject.azurewebsites.net/getbyrange/4to4/" class="button large hpbottom">API: Get by Range</a></p>



</body>
</html>